[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[pager]
	diff = diff-highlight | less -S -R
	show = diff-highlight | less -S -R
	log = diff-highlight | less -S -R
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
	pager = less -S -R
